/** 
* Description: Sample theme for site which extends the Lydia grid-theme.
 */
@import url(../../../themes/grid/style.php);

html{background-color:#E8E8E8;min-height: 101%;}

body{background-color:#E8E8E8;}

#outer-wrap-header{background-color:white;
border-bottom:2px solid white;
margin-bottom:0px;width:0px;
  height:30px;
  margin-top:5px;
  margin-bottom:5px}

iframe{width:95px;}

#primary{text-align:left;margin:auto;}
#insidePrime{width:830px;}
h1#insidePrime{padding-left:20px;margin-left:0px; width:780px;}
a#insidePrime{padding-left:20px;margin-left:400px; width:800px;}
em#insidePrime{padding-left:20px;margin-left:0px; width:800px;}
h3#insidePrime{padding-left:20px;margin-left:0px; width:800px;}
a{color:#808080}

#rightbar{float:right;}
#featured-middle{width:80%;}
#featured-first{margin-top:-50px;}
#inner-wrap-main{background-color:#E8E8E8;width:1250px;min-height:500px;margin-top:0px;padding-right:100px;}

#middle-wrap-main{margin-bottom:@magic-number;
		  width:1300px;
		  border:0px solid black;
		  padding-top:0px;
                  background:#E8E8E8;
		  border-radius: 0px;
		  box-shadow: 0px 0px 0px #555;}
		  
#outer-wrap-footer{background-color:white;}
#inner-wrap-footer{padding-left:80px;}
#logo_menu{float:left;padding-right:20px;margin-right:20px;margin-left:80px;}	
		  
#inner-wrap-footer{padding-top:0px;width:900px;}

#leftbar{margin-left:260px;margin-right:50px;}
#rightbar{margin-right:50px;}
#outerMenuField{width:950px;margin:auto}	  
.menuField{    border-radius: 0px;
	       border: 0px; 
	       margin-bottom:20px;
	       padding-top:20px;
	       width:1300px;
	       background:#E8E8E8;}
	       

}

#navMenu ul{

	 -webkit-border-bottom-right-radius: 0px;
	 -webkit-border-bottom-left-radius: 0px;
	 -moz-border-radius-bottomright: 0px;
	 -moz-border-radius-bottomleft: 0px;
	 border-bottom-right-radius: 0px;
	 border-bottom-left-radius: 0px;
	 
}
#navMenu ul li a {

	width: auto;
	margin:10px;
	padding-left:5px;
	padding-right:5px;


}

/* 
login menyn och meddelande rutan
*/
#login-menu{float:right;padding-top:12px;margin-right:50px;}
#all-wrap{min-height:950px;}
div.menu a:hover   {border-radius: 0px; }
.error, .alert, .warning, .notice, .success, .info { 
padding-bottom:15px;
padding-top:10px;
margin-left:20px; 
margin-top:10px;
border: 2px solid #ddd; 
border-radius: 30px;
text-align:center;
font-size:10px;
font-weight:900;
height:10px;}

.menu{padding-top:30px;}
#message{float:left; width:auto}
#loginBox{width:400px;float:right;}




#flash{width:921px; margin-bottom:30px;}
#about{float:left;padding-right:10px;padding-top:7px;}
h5#indexNews{margin-bottom:10px;}
h2#indexNews{text-align:left; width:800px;padding-bottom:15px;}
img#indexNews{margin-top:60px;}

div#indexNews{border: 1px solid black;
	      margin-top:100px;
	      padding:10px;
	      
	      float:left;
	      border-radius: 3px;
	      background:#F6F6F6;
	      width:auto;
	      height:auto;}
	      
/**------------------------------------------------------
picture
*/
#picture{margin-bottom:60px;float:left;margin-right:80px;}
	    
	      

/* 
Fokus på menyn
*/
body#Blog a#Blogg-,
body#Index a#Start-,
body#Rss a#Rss-,
body#Gästbok a#Gästbok-,
body#Bilder a#Bilder-,
body#Historia a#Historia-,
body#Om a#Om-,
body#Forum a#Forum-,
body#Page a#Nyheter- {background:white;border-radius: 5px;}
td{width:50px;}

/* 
misc
*/
div#forum{margin-left:90px;}
table#forum{width:800px;}
th#forum{width:180px;}
th#forumTh{width:100px;padding-left:25px;}
th#forumThIm{width:100px;padding-left:25px;}
fieldset{width:600px;}
table#userg{width:750px;}
.youtube-player{width:430px;height:345px;}
table{width:450px;}
#date{font-size:12px;}
#form-element-data{width:80%;height:200px;}
#boooba{width:250px;height:80px;}
#tdmain{width:140px;}
#guestBook{margin-left:70px;width:600px;}
#om{width:800px;}
#admin{margin-left:100px;margin-top:30px;}
#content{margin-left:80px;}
#news{width:800px;}
#viewNews{margin-left:50px;}
div#addPics{margin-left:120px;}
h2#addPics{width:300px;}
#form-element-color{width:70px;}
