/** 
* Description: Sample theme for site which extends the Lydia grid-theme.
 */
@import url(../../../themes/grid/style.php);

html{background-color:#D0DCE1;}
body{background-color:#D0DCE1;}
#outer-wrap-header{background-color:#D0DCE1;
border-bottom:2px solid #D0DCE1;}
#outer-wrap-footer{background-color:#D0DCE1;}
a{color:#808080}

